

 <div class="container" style="margin-left:140px">
    <!-- <p>accountsgrid works!</p> -->
    <!-- <p>JSON formatted data:</p>
    <pre>{{ getAccounts() | json }}</pre> -->
     <div class="centered-div">
        <kendo-svgicon [icon]="editIcon" size="xxlarge"></kendo-svgicon>
        <kendo-label>Account listing</kendo-label>
        <app-appbar></app-appbar>
    </div>

    <div class="gridview">
         <!-- <app-gridview [stores]="getStores()"></app-gridview> -->
        <!-- <kendo-grid [data]="getStores()" 
                    [height]="410"
                    [selectable]="selectableSettings"
                    (selectionChange)="onSelectionChange($event)"
                    [pageable]="true"
                    [skip]="skip"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange($event)"
                    [sortable]="true"
                    [sort]="sort"
                    (sortChange)="onSortChange($event)"> -->
             <kendo-grid [data]="getAccounts()" 
                    [height]="610"
                    [selectable]="selectableSettings"
                    (selectionChange)="onSelectionChange($event)"
                    [pageable]="true"
                    [skip]="gridState.skip"
                    [pageSize]="gridState.take"                    
                    [sortable]="true"
                    [sort]="gridState.sort"
                    (dataStateChange)="onDataStateChange($event)"
                    [groupable]="true"
                    [group]="gridState.group"
                    [filterable]="true"
                    [filter]="gridState.filter">      
            <kendo-grid-column field="id" title="ID" [width]="100" [filterable]="false">
                <!--<ng-template kendoGridCellTemplate let-dataItem>
                    <img src="getIndicatorImage('lob')" class="stores-icon">
                </ng-template> -->
            </kendo-grid-column>            
            <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
            <kendo-grid-column field="title" title="Title"> </kendo-grid-column>
            <kendo-grid-column field="version" title="Version" [width]="300"> </kendo-grid-column>
            <kendo-grid-column field="createdate" title="Create Date"> </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
 @if (opened){
    <kendo-window 
        (close)="toggle(false)" 
        [width]="450" title="Account Details">
        <div style="text-align: left; margin: 30px;">
            <!-- <p>JSON formatted data:</p> -->
            <!-- <pre>{{ details | json }}</pre> -->
            @for (item of details; track $index) {
                <div>{{$index + 1}}<span>: </span>{{item.lob}}</div>
                <div>Quote#: {{item.quote}}</div>
                <div>Description: {{item.description}}</div>
                <div>Premium: {{item.premium}}</div>
                <div style="margin-top: 20px;"></div>
            }           
     
        </div>
        <div style="text-align: right; margin: 3px;">
            <p>
                <button
                    kendoButton
                    themeColor="primary"
                    style="width: 300px;"
                    (click)="toggle(false)">
                    Ok
                </button>
            </p>
        </div>
    </kendo-window>
 }
