/* You can add global styles to this file, and also import other style files */
html,
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Viewport height */
  margin: 0;  
}

.header{
    height: 80px;
    position:sticky;
    top:0;
    z-index:3;
    padding-left: 7px;
    background-color: #491320;
}

.header .nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color:#fff;
}

.header .menu-button{
    flex: 0 0 50px;
    text-align: center;
}

.header .title{
    display:flex;
    flex: 1 0 auto
}

.header .menuDropdown{
    width:240px;
    padding-right: 20px;
}

.resources{
    font-weight: 500;
}

.migdrawer{
    
}

kendo-drawer-container {
    flex: 1 1 auto;
    overflow-y: auto;
}
    .k-icon {
    font-size: 20px;
}

// Top Nav //
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position:sticky;
}
nav ul{
  width: 95%;
  list-style:none;
  display:flex;
  justify-content: flex-end;
  align-items: center;  
} 
nav li{
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color:black;
  
}
nav a:hover{
  background-color: #f0f0f0;
}

// end Top Nav //

footer {
  background-color: #504d4d; /* Dark background */
  color: white; /* White text */
  text-align: center; /* Centers the text within the footer */
  padding: 10px 0; /* Adds vertical padding */
  width: 100%; /* Ensures the footer spans the full width */
  margin-top: 175px;
  bottom:0
}

footer a {
  color: #4da6ff; /* Styles links within the footer */
  text-decoration: none; /* Removes underlines from links */
  margin: 0 10px;
}

.topnav{
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: flex-start;
    padding-left: 50px;
    font-size:2em;
    font-style: italic;
    background-color: #491320;
}
.imgBar{
  background-color: #491320;   
  background-repeat: repeat-x;

   /* Specify the image you want to repeat */
  // background-image: url('https://secure.merchantsgroup.com:84/images/migmnuproc/agents_r2_c7_ML_v2.jpg');

  /* Crucially, repeat the image only along the x-axis (horizontally) */
  background-repeat: repeat-x;

  /* Optional: align the image */
  background-position: center;
}